@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

nav {
    width: 100%;
    height: 60px;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99; 
}

nav img {
    object-fit: cover;
    display: flex;
    align-items: center;
}

nav .fa-bars{
    font-size: 25px;
    color: var(--bg-color-third);
    padding: 0 15px;
}

nav a #logo{
    width: 140px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--bg-color-third);
    cursor: pointer;
}

nav #logo {
    width: 180px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--bg-color-third);
    cursor: pointer;
}

#logo-text {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

nav>div {
    width: 230px;
    height: 100%;
    padding: 0 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-center;
    cursor: pointer;
}

#nav-inp {
    width: 750px;
    position: relative;
    gap: 25px;
}

nav input {
    outline: none;
    background-color: transparent;
    color: var(--bg-color-third);
    font-size: 18px;
    width: 90%;
    height: 45px;
    border: 1px solid var(--bg-color-fifth);
    border-radius: 25px;
    padding-left: 20px;
}

#nav-inp div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 45px;
    background-color: var(--bg-color-fourth);
    border-radius: 0 25px 25px 0;
    border: 1px solid var(--bg-color-fifth);
    position: absolute;
    left: 600px;
}

#nav-inp span {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--bg-color-fourth);
}

#nav-icon {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    color: var(--bg-color-third);
    font-size: 20px;
}
