:root {
    /* colors */
    --bg-color: #0f0f0f;
    --bg-color-second: #2e2e2e;
    --bg-color-third: #fff;
    --bg-color-fourth: #222222;
    --bg-color-fifth: #303030;
    --bg-color-sixth: #212121;
    --bg-color-yetti: #272727;
    --category: #3F3F3F;
    /* font sizes */
    --font-family: sans-serif;
    --font: 18px;
    --font-second: 32px;
}



