section.top 
    .top__title 
        h1 A Price To Suit Everyone
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula<br> eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient<br> montes, nascetur ridiculus 
    .top__price
        h1 40$
        p UI Design Kit
    .top__button 
        p See, One price. Simple.
        button Purchase Now
footer 
    .footer__comp 
        p ©2023 Yourcompany
        h1 Landing
        button Purchase Now
    .footer__con 
        ul 
            each contact in ["Home","About","Contact"]
                li=contact 
        .footer__icon  
            img( width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/737373/facebook-new.png" alt="facebook-new")
            img(width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/737373/linkedin-2--v1.png" alt="linkedin-2--v1")
            img(width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/737373/twitter--v1.png" alt="twitter--v1")
            img(width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/737373/youtube-play.png" alt="youtube-play")
            img(width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/737373/instagram-new--v1.png" alt="instagram-new--v1")
